.short-summary-card {
  width: 180px;
  max-height: 70px;
  background: #f5dae6;
  border: 1px solid #ea3694;
  box-shadow: 0px 4px 4px #ea3694;
  border-radius: 30px;
  margin: 10px 14px;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.short-summary-card-value {
  font-family: 'Lato';
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #ea3694;
}

.short-summary-card-icon {
}
