.summary-card {
  width: 300px;
  max-height: 100px;
  background: #f5f5f5;
  border: 1px solid #ea3694;
  box-shadow: 0px 4px 4px #ea3694;
  /* box-shadow: 0px 4px 4px var(--secondary-color); */
  border-radius: 30px;
  margin: 10px 14px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.summary-card-value {
  font-family: "Lato";
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #ea3694;
}

.summary-card-title {
  font-family: "Asul";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.clicks-icon {
  width: 53px;
  height: 58px;
}

.revenue-icon {
  width: 37px;
  height: 46px;
}

.referral-icon {
  width: 37px;
  height: 46px;
}

.campaign-icon {
  width: 55px;
  height: 62px;
}

@media only screen and (max-width: 1186px) {
  .summary-card {
    width: 300px;
    max-height: 120px;

    padding: 32px;
  }
}
@media only screen and (max-width: 786px) {
  .summary-card {
    width: 85%;
    max-height: 120px;

    padding: 22px;
  }
}
@media only screen and (max-width: 500px) {
 
}
