.cellAction {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.actionbtn,
.deletebtn {
  color: rgb(245, 73, 130);
  font-size: 22px;
}

.datatable {
  padding: 20px;

  height: 100%;
  font-size: 32px;
  margin-top: 20px;
}

.rdt_Table {
  border: none;
}
.rdt_TableHeadRow,
.rdt_TableCol,
.rdt_TableRow {
  border: 1px solid rgb(149, 147, 147);
}

.rdt_TableHeadRow {
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid rgb(156, 153, 153);
}

.rdt_TableCell {
  /* border: 1px solid rgb(133, 131, 131);
  border-right: 1px solid rgb(97, 97, 97); */
}

.rdt_TableCol {
  border-bottom: none;
  border-top: 1px solid rgb(16, 16, 16);
  border-left: 1px solid rgb(16, 16, 16);
}

[data-column-id="id"].rdt_TableCol {
  max-width: 20px;
  border-top-left-radius: 12px;
  /* border-right: #000; */
}
[data-column-id="details"].rdt_TableCol {
  border-top-right-radius: 12px;
}
