.sidebar-nav {
  width: 5%;
  text-align: center;
  height: calc(100vh - 80px);
  /* transition: 350ms;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms; */
}

.sidebar-nav.inactive {
  width: 20%;
  /* transition: 450ms;
  -webkit-transition: 450ms;
  -moz-transition: 450ms;
  -ms-transition: 450ms;
  -o-transition: 450ms; */
}

.menu__icon {
  padding-top: 10px;
}

.hamburger__icon {
  height: 30px;
  font-size: 28px;
  /* width: 80px; */
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  width: 170px;
  height: 40px;
  background-color: rgb(22, 21, 21);
  color: white;
  padding: 4px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 400;
  /* font-family: "Asul", sans-serif; */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.sidebar-button.button-primary {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 27px;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.add-icon-text {
  font-size: 28px;
}

.add-icon {
  height: 25px;
  width: 25px;
}

.sidebar-nav-link {
  color: var(--main-color);
  font-size: 26px;
}

.active.sidebar-nav-link {
  color: #fff;
}

.sidebar-nav a {
  text-decoration: none;
}

.sidebar-nav div {
  margin: 0 0 35px 25px;
  text-align: left;
}

.addicon-text {
  font-size: 17px;
}

.sidebar-nav-link .icon-image {
  margin-right: 18px;
}

img.icon-image {
  width: 25px;
  height: 25px;
}

.active__menubtn {
  bottom: 40px;
  left: 0;
  right: 0;
  position: fixed;
}

.menu__activebtn {
  background-color: white;
  height: 45px;
  width: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Responsive Queries */

@media screen and (max-width: 1250px) {
  .icon-text,
  .add-icon-text {
    display: none;
  }

  .sidebar-nav.inactive {
    width: 8%;
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -ms-transition: 350ms;
    -o-transition: 350ms;
  }

  .addicon-text {
    display: none;
  }

  .sidebar-button {
    width: 30px;
    color: #fff;
    background-color: transparent;
  }
  .add-icon {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 998px) {
  .icon-text,
  .add-icon-text {
    display: none;
  }

  .sidebar-nav {

    min-width: 10%;
  }

  .sidebar-nav.inactive {
    min-width: 8%;
  }

  .addicon-text {
    display: none;
  }

  .add-icon {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-nav.inactive {
    z-index: 200;
    display: none;
  }
  .icon-text,
  .addicon-text {
    display: none;
  }

  .sidebar-button {
    width: 30px;
    height: 30px;
    background-color: transparent;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media screen and (max-width: 500px) {
  .sidebar-nav {
    z-index: 200;
  }
  .sidebar-nav.inactive {
    z-index: 200;
  }
}
