.selected-main {
  background-color: #fff;
  border-radius: 30px 0 0 0;
  margin-top: 35px;
  width: 82%;
  min-width: calc(100vw - 250px);
  padding: 10px 40px;
}

.summary-blocks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-chart {
  max-width: 98%;
  margin-left: 2%;
}

.dual-charts {
  max-width: 98%;
  display: flex;
  flex-wrap: wrap;
}

.dual-charts div.chart {
  width: 46%;
  margin: 50px 2%;
}
