.campaign-block {
  width: 95%;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 20px;
  display: flex;
  margin: 28px 0;
  padding: 11px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}



.camapign-block-name {
  font-family: 'Asul';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.campaign-block-product-name {
  font-family: 'Asul';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ea3694;
}

.campaign-block-duration {
  font-family: 'Asul';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.campaign-kpis {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.campaign-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.clicks-icon {
  width: 53px;
  height: 58px;
}
.revenue-icon {
  width: 43px;
  height: 46px;
}

.referral-icon {
  width: 37px;
  height: 46px;
}

.campaign-icon {
  width: 55px;
  height: 62px;
}
